body{
    text-align: justify;
    margin: 0px;
    border-left: 10px #00ffc8 solid;
    min-height:100%;
}

header{
 /*   display: flex;
    flex-direction: row;
    gap: 100px;*/
    margin: 0px;
    background: radial-gradient(circle, rgba(10,0,185,1) 0%, rgba(0,212,255,1) 100%);
    padding: 10px;
    text-align: center;
    position:sticky;
}
nav,footer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 0px;
    justify-content: space-around;
    margin:0px;
    padding: 0px;
    
}

nav a,footer a{
    color: #000000;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

nav a:visited/*,footer a:visited*/{
    color: #000000;
}
/*nav a[href="#1"]:visited #1{
    color: red;
}*/

h1{
    color: #ffffff;
    font-size: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1:hover{
    text-shadow: 4px 6px 8px #ffffff9b;
}
p,li{
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

}
p:active,li:active{
    font-weight: 800;
    font-size: 1.2em;
}
.nongrossi:active{
    font-weight: 400;
    font-size:1em;
}
/*img:hover{
    outline-color: #00000068;
}*/
img{
   /* width:100%;
    height:100%;*/
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
img:hover{
    transform:rotate(10deg) scale(1.6);
}
.decalg:hover{
    /*margin: 0px 0px 0px 50px ;/**/
    transform: translate(-25px)rotate(10deg) scale(1.4);
}
p img:hover{
    transform:rotate(-5deg) scale(1.2);
}
.ligne{
    display: inline;
}
#logo{
    border-radius: 50%;/*70% 30% 70% 30% / 70% 31% 69% 30% ;*/
    width: 100px;
    height: 100px;
    border: 3px rgb(0, 0, 0) solid;
    position: absolute;
        left: 20px;
        up: -30px;
    box-shadow: 1px 7px 10px #000000;
}
#logo:hover{
    transform:rotate(360deg);/**/
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    justify-content: space-between;
    background-image: url("partition_fond.png");
    background-attachment: fixed;
}

.box{
    margin: 0.5%;
    padding: 0.7%;
    padding-top: 0%;
    border-radius: 20px;
    border: 3px black solid;
    text-decoration: dashed;
    background-color: #50e082;
    width: 47%;
}

.alt{
    display: none;
}
.euh:hover{
    display: none;
}
.euh:hover + .alt{
    display:inline;
}
main .four{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
main .four div{
    margin: 0px;
}
.caché{
    color: #00000000;
}
.caché:hover{
    color: #000000;
    font-size: 1.5em;
}
.imp{
    font-weight: 700;
    font-variant-ligatures: additional-ligatures;
    /*font-style: italic;*/
    font-size: 1.1em;
    -webkit-transition: all 20s;
    -moz-transition: all 20s;
    -ms-transition: all 20s;
    -o-transition: all 20s;
    transition: all 20s;

}
.imp:hover{
    font-weight: 600;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', serif;
    /*font-size: 2em;*/
}
.imp:active{
   /* position: absolute;
    up:2000px;left:0px;/**/
    transform: translate(3px);
    font-size: 100em;
}
.italique{
    font-style: italic;
}
h2{
    text-align: center;
    text-shadow: 1px 5px 5px #00000071
}
main .zero{
    max-width: 100%;
    width: 100%;
}
/*.hallo:hover{
    font-size: 2em;
    color: #ffdc00
}*/

.box img{
    width: 100px;
}

.box p img{
    width: 200px;
    /*position: relative;*/
        up: 100px;
        left: 0px;
}
.gauche{
    float: left;
    margin: 0px 10px 0px 0px;
}
.droite{
    float: right;
    margin: 0px 0px 0px 10px;
}

.bloc{
    margin-left: 20px;
}
.grand{
    min-width: 300px;
}
video{
    width: 40%;
    max-width: 300px;
    min-width: 200px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
video:hover{
    max-width: 100%;
    width: 100%;
}
.zero img{
    width: 40px;
    margin: 0px -10px -15px 0px;
}

audio{
    background: #50e082;
    color: rgba(0,0,0,0);
    width: 40%;
    min-width: 220px;
}
footer{
    background-color: #000000;
    margin: 0px;
    padding: 30px;
}
footer a{
    color:#ffffff;
}
footer a:hover{
    text-decoration: underline;
    color: #ffffff;
}
@media screen and (max-width: 900px){
    body{
        border-width: 0px;
    }
    h1{
        font-size: 30px;
    }
    #logo{
        display:none;
    }
    .box{
        width: 100%;
        max-width: 100%;
        margin-left: 2px;
        margin-right: 2px;
    }
    main .four .c2{
        display: none;
    }
    video{min-width: 280px}
    audio{width: 100%}
}

@media print{
    nav,footer,.nonprint,#logo,video,audio{display:none;}
    header{background:none;}
    h1{color:#000000;}
    h2{text-shadow: none;}
    main{background-image: none;}
    .box{background-color: #ffffff;}
    body{
        border-width: 0px;
    }
    .box{
        width: 100%;
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        border-radius:0%;
        border: none;
        border-top: 2px #000000 Dashed;
    }

}/**/
